
@font-face {
  font-family: 'Circular-Black';
  src: url('../public/fonts/CircularStd-Black.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-Light';
  src: url('../public/fonts/CircularStd-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-Bold';
  src: url('../public/fonts/CircularStd-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-Medium';
  src: url('../public/fonts/CircularStd-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-Book';
  src: url('../public/fonts/CircularStd-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Circular-LightItalic';
  src: url('../public/fonts/CircularStd-Light Italic.otf');
  font-weight: normal;
  font-style: normal;
}