.icons {
    height: 24px;
    width: 24px;
    
}

nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.nav-row {
    background-color: rgb(255, 255, 255);
    
}

.nav-col {
    background-color: rgb(255, 255, 255);



}

.custom-font {
  font-family: 'Playfair Display', serif;
}

.navbar-light .navbar-brand {
    font-family: 'Playfair Display', serif;
    color: #B92B27;
    font-size: 2rem;
    
}

.hover-css {
    position: relative;
  }
  
  .hover-css::before {
    content: attr(data-content);
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -10px);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 11px;
    visibility: hidden;
  }
  
  .hover-css:hover::before {
    visibility: visible;
  }
  

.nav-link {
  width: 10rem;
}
.quora-th {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #B92B27;
  color: #fff;
  border: 0.15rem solid #B92B27;
  text-align: center;
}
.spotify-th {
  cursor: pointer;
  background-color: #1DB954;
  color: #fff;
  border: 0.15rem solid #1DB954;
  text-align: center;
}
.spotify-th:hover {
  background-color: #fff;
  color: #1DB954;
  border: 0.15rem solid #000;
}

.quora-th:hover {
  background-color: #fff;
  color: #B92B27;
  border: 0.15rem solid #B92B27;
}