.btn-custom {
    background-color: #E6E7E8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2em 2em;
    margin-bottom: 2em;
    margin-top: 2em;

  }

  
.active {
  background-color: #C4C4C4;
}