
.btsr-card {
    width: 100%;
}

.card-text {
    white-space: pre-line;
}

.card-hd {
    background-color: #fff;
    border: none;
}

.card-body {
    margin-top: -1rem;
}

.poster {
    font-size: 0.95rem;
    line-height: 1.4;
    color: #282829;
    font-weight: bold;
}

.timestamp {
    margin-top: -10px;
}

.bottom-text {
    display: block;
    
}

.small-text {
    font-family: Helvetica, sans-serif, serif;
    font-size: 0.8rem;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3rem;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}
.carousel-item {
    overflow: hidden;
 }

.bullet-pts {
    text-align: left;
    font-family: Helvetica, sans-serif, serif;
    font-size: 0.9375rem;
    line-height: 1.4;
    color: #282829;
}
.description {
    font-family: Helvetica, sans-serif, serif;
    font-size: 0.9375rem;
    line-height: 1.4;
    color: #282829;
}
  
  
