.quick-links {
    background-color: rgb(241, 242, 242);

}

.navbar-border-radius {
    border-radius: 0.25rem;
    background-color: rgb(241, 242, 242);

}

.nav-link img {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  