.skills {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 1.5rem;
    background-color: #FFF;
}

h3 {
    text-decoration: underline;
    font-family: Helvetica, sans-serif, serif;
    font-size: 21px;
    line-height: 1.4;
    color: #282829;
    
}

h5 {
    text-decoration: underline;
    font-family: Helvetica, sans-serif, serif;
    font-size: 17px;
    line-height: 1.4;
    color: #282829;
    font-weight: bold;
}

p {
    font-family: Helvetica, sans-serif, serif;
    font-size: 15px;
    line-height: 1.4;
    color: #282829;
}